body {
    margin: 0;
    font-family: "Lato", sans-serif;
    overflow: hidden;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    /* z-index: -1; */
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #413c68;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #413c68;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
  }
 #button{
    color: white;
    background: lightblue;
    border: none;
    margin-right: 5vh;
    margin-top: 1vh;
    width: 5vw;
    height: 5vh;
    border-radius: 8px;
    cursor: pointer;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#413c68;
    height: 7.6vh;
    margin-left: 21vh;
    align-items: flex-end;
  }
  li {
    float: right;
  }
  .form-content input{
    background: aqua;
    width: 21%;
    height: 5vh;
    border-radius: 3px;
    margin-top: 1%;
    border-width: thin;
  }
  .form-content textarea{
    margin-top: 1%;
  }
  #Apply{
    color: white;
    background: lightblue;
    border: none;
    margin-right: 5vh;
    margin-top: 1vh;
    width: 5vw;
    height: 5vh;
    border-radius: 8px;
    cursor: pointer;
  }
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }